#dropdown-basic-button {
    background-color: transparent;
    outline:none;
    color: black;
    border:none;
    font-weight: bold;
    color: var(--main-purple)
}
.WatchlistDetailsItem th {
    vertical-align: middle;
    text-align: center;
    margin: auto;
}

.WatchlistDetailsItem a {
    vertical-align: middle;
    display: inline-block;
    font-weight: bold;
}